.team-logo {
    width: 80px;
}

.navbar {
    background-color: rgba(18, 226, 125, 0.6) !important;
    margin-bottom: 5px;
    font-size: 1.5em !important;
}

/*text format*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
h1:after{
  content: '';
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;
}

p {
  font-family: 'Quicksand', arial;;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  word-spacing: 2px;
  line-height: 26px;
}

.leavesimgs img {
    float:left;
    width:200px;
    height:200px;
    margin:5px;
    padding: 50px;
    transition: transform .2s; /* Animation */
}

.leavesimgs:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
